[Unit]
Description=Apply Bundle
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/tmp/
ExecStart=/usr/bin/apply-bundle "%i"

[Install]
WantedBy=multi-user.target
